extends common/layout

block content
  .wrapper.wrapper--nobackground
    include common/header
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article in articles
            li.notes__list-item
              time.notes__item-time(datetime='2019-03-21T20:33') 21.03.2019, 20:33
              a.notes__item-text(href='#') #{article.title}
              button.notes__button.button.button--close-item(type='button')
                span.visually-hidden Закрыть строку списка
      section#newArticleModal.modal.modal--flex.invisible-block
        .popup.popup--new-publication.popup--flex
          .new-publication
            .new-publication__header
              h1 Новая публикация
              .new-publication__date-form
                h3 Дата публикации
                form(action='#', method='POST')
                  .new-publication__date-block
                    label(for='new-publication-date', aria-label='Календарь')
                    input#new-publication-date(type='text', name='login', placeholder='21.03.2019')
              button.new-publication__button.button.button--colored(type='submit') Опубликовать
            button.popup__button.button.button--popup-close(type='button', aria-label='Закрыть окно')
              | Закрыть окно
            .new-publication__form.form
              form(action='#', method='get')
                .form__wrapper.form__wrapper--intro
                  .form__field
                    label
                      input(type='text', placeholder='Заголовок', required='')
                  .form__field.form__field--post-image
                    label
                      input#image-name-field(type='text', placeholder='Фотография', readonly='')
                    .form__image-loader.form__image-loader--publication
                      label
                        input.visually-hidden(type='file')
                        | Обзор
                  a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
                .form__wrapper.form__wrapper--text
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='1', placeholder='Анонс публикации')
                  .form__field.form__field--publication-text
                    label
                      textarea(rows='1', placeholder='Полный текст публикации')
        .modal__overlay
    include common/footer
