extends common/layout

block content
  .wrapper-color
    include common/header
    main
      section.search-page
        .search-page__wrapper(class=searchResult.length === 0 ? 'search-page__wrapper--empty':'')
          h1 Поиск
          .search.search-page__form
            form(action='/search', method='get')
              label
                input(type='text', name='search', placeholder='Что ищем?')
              button.search__button.button.button--transparent(type='submit') Найти
            if searchResult.length > 0
              each article in searchResult
                .search__result
                  time.search__date(datetime='2019-03-21T20:33') #{article.createdAt}
                  a.search__link(href=`/articles/${article.id}`)
                    | #{article.title}
          if searchResult.length === 0
            p.search-page__empty Ничего не нашлось
    include common/footer

block scripts
