.error-new-publication-date-form {
  border: 1px solid #ff0000;
}

.error-border-bottom {
  border-bottom-color: #ff0000;
}

.error-text {
  color: #ff0000;
}

.error-text--comment {
  padding-left: 75px;
}
