- var userRoleAdmin = 1;
- var userRoleUser = 2;
- var userRoleGuest = 3;

mixin header(userInfo)
  header.header
    a.header__logo.logo(href='/')
      img.logo__image(src='/img/icons/logo-image-only.svg' alt='логотип Тайпотеки')
      span.logo__name Типотека
    if (userInfo.userRole === userRoleAdmin)
      button.button.button--colored.header__button-new Новая запись
      .header__dropdown
        a.button.button--burger.header__burger(href='#') Открыть меню
        ul.navigation.header__navigation
          li.navigation__item
            a(href='/my') Мои записи
          li.navigation__item
            a(href=`/categories`) Список категорий
          li.navigation__item
            a(href='/my/comments') Список комментариев
          li.navigation__item
            a(href='/logout') Выход
    else if (userInfo.userRole === userRoleUser)
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            p #{userInfo.userName}
          li.header__list-item
            a.header__exit(href='/logout') Выйти
      a.header__avatar.avatar
        img(src=`${userInfo.avatar}` alt='аватар пользователя')
    else if (userInfo.userRole === userRoleGuest)
      nav.header__nav
        ul.header__nav-list
          li.header__list-item
            a.header__registration(href='/register') Регистрация
          li.header__list-item
            a.header__enter(href='/login') Вход с паролем
    a.header__search.button.button--search(href='/search' aria-label='поиск по сайту')

